<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SDM Endpoint</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	{% if demo_mode %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6FS197PR54"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6FS197PR54');
	</script>
	{% endif %}
    </head>
    <body>
        <div class="container mt-2 mb-2">
            {% block content %}{% endblock %}

            {% block footer %}
            <div class="mt-2">
                {% if demo_mode %}

		{% endif %}

		<hr>

            </div>
            {% endblock %}
        </div>
    </body>
</html>
